* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, #balls, #random-color {
  display: flex;
  justify-content: center;
}

#balls {
  display: flex;
  justify-content: center;
}

#balls .ball {
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  border: 1px solid black;
  margin-right: 10px;
}

#answer {
  text-align: center;
}

#buttons {
  display:flex;
  justify-content: center;
}

#reset-game {
  background-color: rgb(218, 37, 37);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.selected {
  transition: 300ms;
  transform: scale(1.2);
}